.service-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  width: 260px;
}

.service-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.service-content {
  display: flex;
  flex-direction: column;
  padding: 14px;
  flex: 1;
}

.service-content h3 {
  font-size: 16px;
  margin: 0;
}

.divider {
  height: 1px;
  background: #e5e5e5;
  margin: 10px 0;
}

.duration {
  font-size: 13px;
  color: #666;
}

.price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}

/* PUSH BUTTON TO BOTTOM */
.card-footer {
  margin-top: auto;
}

.view-btn {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
